.promo {
  background: #f5f8fb;
}

.promo .container {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  padding-top: 90px;
  padding-bottom: 25px;
}

.promo__text-block {
  max-width: 423px;
}

.text-block__title {
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  line-height: 56px;
  letter-spacing: 0.796px;
}

.text-block__text {
  text-align: justify;
  width: 90%;
}

.text-block__button {
  color: #fff;
  margin-top: 25px;
  background-color: #2e85ff;
  box-shadow: 10px 19px 50px rgba(17, 41, 80, 0.2);
  transition: box-shadow 1s;
}

.text-block__button:hover {
  transition: all 1s;
  box-shadow: none;
}

.img-block__phone-app {
  display: block;
  border: 1px solid #eaeef2;
  box-shadow: 0px 9px 50px rgba(17, 41, 80, 0.08);
  border-radius: 32px;
}

@media (max-width: 767px) and (min-width: 320px) {
  .promo .container {
    padding-top: 0px;
    flex-wrap: wrap;
  }

  .text-block__title {
    font-size: 34px;
    text-align: center;
  }

  .text-block__text {
    width: 100%;
  }

  .text-block__button {
    display: block;
    margin: 0 auto;
  }

  .img-block__phone-app {
    margin-bottom: 30px;
    order: -1;
  }
}
